
@import "../../../stylesheets/color.scss";
.sa_header{
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10% 0 10%;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    .sa_navigator{
        display: flex;
    }
}
.dark-mode{
    .sa_header{
        background-color: #2f2f2d;
        box-shadow: 0 1px 3px rgba(214, 197, 197, 0.2);
        .sa_navigator{
        }
    }
}
