$margin-0:0;
$margin-5:0.5rem;
$margin-10 : 1rem;
$margin-15 : 1.5rem;
$margin-20 :2rem;
$margin-25 :2.5rem;
$margin-30 :3rem;
$margin-35 :3.5rem;
$margin-40 :4rem;
$margin-45 :4.5rem;
$margin-50 :5rem;
$margin-55 :5.5rem;
$margin-60 :6rem;
$margin-65 :6.5rem;
$margin-70 :7rem;
$margin-75 :7.5rem;
$margin-80 :8rem;
$margin-85 :8.5rem;
$margin-90 :9rem;
$margin-95 :9.5rem;
$margin-100 :10rem;


$padding-0:0;
$padding-5:0.5rem;
$padding-10 : 1rem;
$padding-15 : 1.5rem;
$padding-20 :2rem;
$padding-25 :2.5rem;
$padding-30 :3rem;
$padding-35 :3.5rem;
$padding-40 :4rem;
$padding-45 :4.5rem;
$padding-50 :5rem;
$padding-55 :5.5rem;
$padding-60 :6rem;
$padding-65 :6.5rem;
$padding-70 :7rem;
$padding-75 :7.5rem;
$padding-80 :8rem;
$padding-85 :8.5rem;
$padding-90 :9rem;
$padding-95 :9.5rem;
$padding-100 :10rem;


$fonSize-8:0.8rem;
$fonSize-10:1rem;
$fonSize-12:1.2rem;
$fonSize-14:1.4rem;
$fonSize-16:1.6rem;
$fonSize-18:1.8rem;
$fonSize-20:2rem;
$fonSize-22:2.2rem;
$fonSize-24:2.4rem;
$fonSize-26:2.6rem;
$fonSize-28:2.6rem;
$fonSize-30:3rem;
$fonSize-32:3.2rem;
$fonSize-34:3.4rem;
$fonSize-36:3.6rem;
$fonSize-38:3.8rem;
$fonSize-40:4rem;
$fonSize-42:4.2rem;
$fonSize-44:4.4rem;
$fonSize-46:4.6rem;
$fonSize-48:4.8rem;
$fonSize-50:5rem;

$boxShadow:0 0 7px 3px rgba(0, 0, 0, 0.1);
@mixin scrollStyle {
    &::-webkit-scrollbar {
      width: 0.5rem;
    }
  
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: rgb(169, 169, 169);
      outline: 1px solid slategrey;
    }
  }
  