.sa_nav_item{
    list-style-type: none;
    padding:5px;
    margin-right: 10px;
    a{
        color: black;
        font-family: "Roboto-Bold";
        font-weight: bold;
    }
}
.sa_nav_item_active{
    border-bottom: 1px solid rgb(14, 117, 252);
    a{
        color:rgb(14, 117, 252) ;
    }
}

.dark-mode{
    .sa_nav_item{
        a{
            color: white;
        }
    }
    .sa_nav_item_active{
        a{

        }
    }
}

