
@import '~antd/dist/antd.css';

@import "./stylesheets/color.scss";
@import "./stylesheets/responsive.scss";
@import "./stylesheets/common.scss";
@font-face {
  font-family: "Roboto-Black";
  font-weight: bold;
  font-style: normal;
  src: url("./assets/fonts/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  font-weight: bold;
  font-style: normal;
  src: url("./assets/fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-BlackItalic";
  font-weight: bold;
  font-style: normal;
  src: url("./assets/fonts/Roboto-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  font-weight: bold;
  font-style: normal;
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  font-weight: bold;
  font-style: normal;
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}


  body{
    @include scrollStyle;
  }
  .rc-error_message{
    color: red;
    margin: 0;
  }
  #root{
    display: flex;
    width:100%;
    height: 100%;
  }
  :root {
    --toggle-size: 1.5rem;
    --switch-w: 4em;
    --switch-h: 2em;
    --switch-handle-scale: .65;
    --switch-off-handle-x: -.125em;
    --switch-on-handle-x: calc(100% - .125em);
    --switch-transition-duration: .2s;
}
    
  html {
    scroll-behavior: smooth;
    font-size: 62.5%;
  }
