
@import '~antd/dist/antd.css';
// @import './base.css';
@import "./stylesheets/color.scss";
@import "./stylesheets/responsive.scss";
@import "./stylesheets/common.scss";
@font-face {
  font-family: "Roboto-Black";
  font-weight: bold;
  font-style: normal;
  src: url("./assets/fonts/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  font-weight: bold;
  font-style: normal;
  src: url("./assets/fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-BlackItalic";
  font-weight: bold;
  font-style: normal;
  src: url("./assets/fonts/Roboto-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  font-weight: bold;
  font-style: normal;
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  font-weight: bold;
  font-style: normal;
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
}


body {
    margin: 0;
    font-family: "Roboto-Black";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    width: 100%;
    overflow: overlay ;

  }
  body.light-mode {
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease;
  }
  body.dark-mode {
    background-color: #1a1919;
    color: #999;
  }
  body{
    @include scrollStyle;
  }
  .rc-error_message{
    color: red;
    margin: 0;
  }
  #root{
    display: flex;
    width:100%;
    height: 100%;
  }
  
  html {
    scroll-behavior: smooth;
    font-size: 62.5%;
  }
