.sa_footer {
  height: 100px;
  color: #747474;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dark-mode {
  .sa_footer {
  }
}
.light-mode {
  .sa_footer {
  }
}
